appbuilder_adapters/SalesforceAdapter/obj/
appbuilder_adapters/SalesforceAdapter/bin/
appbuilder_adapters/SalesforceAdapter/AppBuilderWsProxy - Unmanaged.cs
appbuilder_adapters/SalesforceAdapter/AppBuilderWsProxy - Managed.cs
appbuilder_adapters/bin
appbuilder_adapters/obj
appbuilder_batch/obj\Debug*/
appbuilder_batch/obj/
appbuilder_batch/bin/
appbuilder_batch_exe/obj\Debug*/
appbuilder_batch_exe/obj/
appbuilder_batch_exe/bin/
appbuilder_core/obj\Debug*/
appbuilder_core/obj/
appbuilder_core/bin/
appbuilder_core/Libaries\Apttus.XAuthor.SalesforceAdapter.dll
appbuilder_core/.vs/
appbuilder_designer/obj/
appbuilder_designer/bin/

appbuilder_main/appbuilder_core
appbuilder_main/.vs/
appbuilder_main/Apttus.XAuthor.ExtensionLib/obj/
appbuilder_main/Apttus.XAuthor.ExtensionLib/bin/
appbuilder_main/External Actions/
appbuilder_main/packages/Autofac.4.6.1/
appbuilder_main/packages/EO.WebBrowser.17.3.13/
appbuilder_main/packages/Expression.Blend.Sdk.1.0.2/
appbuilder_main/packages/Microsoft.CrmSdk.CoreAssemblies.9.0.2.5/
appbuilder_main/packages/Microsoft.IdentityModel.6.1.7600.16394/
appbuilder_main/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.4.4.2/
appbuilder_main/packages/Newtonsoft.Json.10.0.2/
appbuilder_main/packages/Newtonsoft.Json.10.0.3/

appbuilder_runtime/obj\Debug*/
appbuilder_runtime/obj/
appbuilder_runtime/bin/

common_aiclogin/Apttus.IntelligentCloud.Login/bin/Debug/
common_aiclogin/Apttus.IntelligentCloud.Login/obj/

common_aicv2login/Apttus.IntelligentCloudV2.Login/Apttus.IntelligentCloudV2.Login/bin
common_aicv2login/Apttus.IntelligentCloudV2.Login/Apttus.IntelligentCloudV2.Login/obj

common_dynamicscrmlogin/bin/
common_dynamicscrmlogin/obj/

common_oauthlogin/ApttusOAuthLogin/bin/
common_oauthlogin/ApttusOAuthLogin/obj/

.vs