<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Apttus.OAuthLoginControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Apttus.OAuthLoginControl.Properties.Settings>
            <setting name="app_Data" serializeAs="String">
                <value>QXB0dHVzWC1BdXRob3JGb3JDaGF0dGVy</value>
            </setting>
            <setting name="app_Value" serializeAs="String">
                <value>EjRWeJCrze8=</value>
            </setting>
            <setting name="clientId" serializeAs="String">
                <value>3MVG9rFJvQRVOvk4Cdn_X9wzEjVqO.HF6AGYyJy6Wxm1Ja98Uaj3alP7yyBVqlMoiLqlcUD3DyDvyeOm3UE_7</value>
            </setting>
            <setting name="clientSecret" serializeAs="String">
                <value>1620934967837602739</value>
            </setting>
        </Apttus.OAuthLoginControl.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
</configuration>
