<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Apttus.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <applicationSettings>
    <Apttus.Common.Properties.Settings>
      <setting name="Apttus_Common_SForce_SforceService" serializeAs="String">
        <value>https://login.salesforce.com/services/Soap/u/28.0</value>
      </setting>
      <setting name="Apttus_Common_AuthorWS_AuthorWebServiceService"
        serializeAs="String">
        <value>https://na14.salesforce.com/services/Soap/class/Apttus_Collab/AuthorWebService</value>
      </setting>
    </Apttus.Common.Properties.Settings>
  </applicationSettings>
</configuration>
